#profile .name-profile{
  color: #00b386;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

#profile .status-profile{
  color: #00b386;
  font-size: 15px;
  text-transform: capitalize;
  text-align: right;
  display: block;
}

#profile .side-tab{
  background-color: red;
  width: 10%;
  float: left;
}

#profile .side-tab button{
  width: 100%;
  float: left;
}

#profile .content-profile{
  float: left;
  width: 70%;
  background-color: white;
  border: 1px solid #00b386;
  height: 500px;
  padding-top: 5%;
  padding-left: 5%;
}

#profile .photo-profile{
  float: left;
  width: 20%;
  background-color: white;
  border: 1px solid #00b386;
  height: 500px;
}
